body {
  background-color: #070707;
  margin: 0;
}
/* Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;

  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;

  /* IEサポート */
  font-feature-settings: 'liga';
}
.heading1 {
  text-align: center;
  font-size: 50px;
  //color: #454545;
  color: #dcdcdc;
  letter-spacing: 7px;
}
header {
  display: flex;
  position: fixed;
  color: #454545;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  .nav {
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 20px;
    z-index: 999;
  }
  a {
    text-decoration: none;
    color: #454545;
    margin-top: 0;
    margin-left: 15px;
    justify-content: space-around;
  }
}
.box {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  h1  {
    font-size: 45px;
    color: #454545;
    opacity: 0.8;
    position: fixed;
    top: 250px;
    left: -171px;
    z-index: 999;
    transform: rotate(270deg);
  }
}


/*カルーセル*/
.slider{
  width: 85vw;
  height: 85vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.slider__content{
  min-width: 100%;
  animation: sliderAnime 12s ease-in-out infinite;
}

@keyframes sliderAnime{
  0%{

  }
  16.6%{
    transform: translateX(0);
  }
  33.3%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  66.6%{
    transform: translateX(-200%);
  }
  83.2%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0);
  }
}

.slider__img{
  max-width: 100%;
  min-width: 100%;
}

//profile
.profile-container {
  width: 85%;
  margin: 0 auto 300px auto;
  color: #dcdcdc;
  .introduce {
    display: flex;
    img {
      width: 300px;
      margin: 0 40px;
      border-radius: 50%;
    }
    p {
      vertical-align: middle;
      margin: 60px 30px;
    }
  }
}
//works
.works-container {
  .works-pic {
    width: 80%;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: space-between;
    img {
      width: 300px;
      border: 3px whitesmoke solid;
      margin: 0 auto;
    }

  }
  .works {
    background-color: #202020;
    //padding: 15%;
    color: whitesmoke;
    h1 {
      text-align: center;
      margin: 0 auto 50px auto;
      padding-top: 80px;
    }
    .works-content {
      display: flex;
      justify-content: center;
      padding-bottom: 170px;
      width: 85%;
      margin: 0 auto;
      border-bottom: 2px #696969 solid;
    }
    img {
      width: 200px;

      margin: auto 30px;
    }
    .works-factor {
      display: flex;
      border-bottom: 1px #696969 solid;
      width: 650px;
      p {
        margin: 20px;
        width: 150px;
        vertical-align: center;
        a {
          color: #99ccff;
        }
      }
      .works-disc {
        width: 420px;
      }
    }
  }
}
.contact-container {
  .contact-box {
    width: 50%;
    margin: 20px auto 200px auto;
    background-color: #696969;
    text-align: center;
    padding: 30px;
    font-size: 40px;
    display: flex;
    span {
      font-size: 60px;
      margin-right: 10px;
      color: #070707;
    }
    a {
      text-decoration: none;
      color: #070707;
    }
  }
}
